<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--
    <bean id="address" class="zzc.spring.beans.Address" p:city="ShangHai" p:street="WuDaoKou"/>

    <bean id="address2" class="zzc.spring.beans.Address" p:city="ShangHai" p:street="ZhangJiangLu"/>
    -->

    <!--
    <bean id="address" class="zzc.spring.beans.Address" p:city="ShangHai^" p:street="WuDaoKou"/>
    -->

    <!-- 抽象bean：bean的属性abstract属性为true的bean，这样的bean不能被IOC容器实例化，只用来被继承配置-->
    <bean id="address" class="zzc.spring.beans.Address" p:city="ShangHai^" p:street="WuDaoKou" abstract="true"/>


    <!-- 抽象bean：bean的属性abstract属性为true的bean，这样的bean不能被IOC容器实例化，只用来被继承配置，若某一个bean的class属性没有指定，则该bean必须是一个抽象bean
   <bean id="address" p:city="ShangHai^" p:street="WuDaoKou" abstract="true"/>-->

    <!-- bean配置的继承：使用bean的parent属性指定哪个bean的配置 -->
    <bean id="address2" p:street="ZhangJiangLu" parent="address"/>

    <bean id="car" class="zzc.spring.beans.Car" p:brand="Audi" p:price="300000"/>

    <!-- 要求在配置Person时必须有一个关联的car! 换句话说person这个bean依赖于Car这个bean -->
    <bean id="person" class="zzc.spring.beans.Person" p:name="ZhaoZhiCheng" p:address-ref="address2" depends-on="car"/>

</beans>